.user_list_image{
  width: 45px;
  height: 45px;
  position: relative;
  float: left;
  left: 30px;
  top: 6px;
}
.user_list_text{
  position: relative;
  float: right;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  right: 70px;
  top: 20px;
  color: black;
}
.user_list_item{
  position: relative;
  left: 30px;
  top: 20px;
  width: 251px;
  background-color: #dce6e7;
height: 56px;
border-radius: 10px;
}
.user_list_container{
  height: 200px;
  position: relative;
  top: 45px;
  overflow-y:auto;
  display: grid;
  grid-template-rows: repeat(auto-fit, 55px);
  grid-gap: 20px;
  justify-content: space-between;
}