.create_room_btn {
    position: absolute;
    width: 220px;
    height: 30px;
    float: right;
    background: #5b4033;
    border-radius: 30px;
    right: 10px;
    top: 7px;
    cursor:pointer;
    border-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  
    color: #ffffff;
  }